<a href="https://colab.research.google.com/github/KazumaShachou/DataScience/blob/master/Pandas_dataManipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Studying and apply Pandas using the book : Python Data Science Handbook From Jake VanderPlas

## Pandas Series Object

In [20]:
import pandas as pd
import numpy as np

In [21]:
data = pd.Series([0, 0.25, 0.5, 0.75, 1])
data

0    0.00
1    0.25
2    0.50
3    0.75
4    1.00
dtype: float64

In [22]:
data.values

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [23]:
data[3]

0.75

In [24]:
data[1:4]

1    0.25
2    0.50
3    0.75
dtype: float64

In [29]:
#use string how index
data = pd.Series([0, 0.25, 0.5, 0.75, 1],index = ['a', 'b', 'c', 'd', 'e'])  
data

a    0.00
b    0.25
c    0.50
d    0.75
e    1.00
dtype: float64

In [30]:
data['b']

0.25

In [31]:
#dictionary
states = {'California': 324375464353,
          'Texas': 323452323432,
          'New York': 212435090453,
          'Illinois': 89456436135466,
          'Florida': 76765543754765}

population = pd.Series(states)
population

California      324375464353
Texas           323452323432
New York        212435090453
Illinois      89456436135466
Florida       76765543754765
dtype: int64

In [32]:
population['California']

324375464353

In [34]:
population['Texas': 'Illinois']

Texas         323452323432
New York      212435090453
Illinois    89456436135466
dtype: int64

In [36]:
area = {'California':12456, 'Texas': 647532, 'New York': 9874747, 'Illinois': 341324, 'Florida': 7461213}
area

{'California': 12456,
 'Florida': 7461213,
 'Illinois': 341324,
 'New York': 9874747,
 'Texas': 647532}

In [38]:
#single two-dimensional object
organize = pd.DataFrame({'population': population, 'area': area})
organize

                population     area
California    324375464353    12456
Texas         323452323432   647532
New York      212435090453  9874747
Illinois    89456436135466   341324
Florida     76765543754765  7461213

In [39]:
organize.index

Index(['California', 'Texas', 'New York', 'Illinois', 'Florida'], dtype='object')

In [40]:
organize.columns

Index(['population', 'area'], dtype='object')

In [42]:
organize['area']

California      12456
Texas          647532
New York      9874747
Illinois       341324
Florida       7461213
Name: area, dtype: int64

In [43]:
pd.DataFrame({'population': population, 'area':area})

                population     area
California    324375464353    12456
Texas         323452323432   647532
New York      212435090453  9874747
Illinois    89456436135466   341324
Florida     76765543754765  7461213

In [44]:
#Index as immutable array
ind = pd.Series([2, 3, 4, 5,66,])
ind

0     2
1     3
2     4
3     5
4    66
dtype: int64

In [45]:
ind[2]

4

In [46]:
ind[::2]

0     2
2     4
4    66
dtype: int64

In [53]:
#ntersections
indA = pd.Index([1, 2, 3, 4, 5,])
indB = pd.Index([2, 2, 3, 4, 12])

indA & indB

Int64Index([2, 2, 3, 4], dtype='int64')

In [54]:
# union
indA | indB

Int64Index([1, 2, 2, 3, 4, 5, 12], dtype='int64')

In [55]:
# symmetric difference
indA ^ indB

Int64Index([1, 5, 12], dtype='int64')

## Data Indexing and Selection