<a href="https://colab.research.google.com/github/KazumaShachou/DataScience/blob/master/Pandas_DataManipulation_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Vectorized String Operations

In [2]:
import pandas as pd
import numpy as np

In [3]:
x = np.array([2, 5, 6, 7, 3, 12])
x * 2

array([ 4, 10, 12, 14,  6, 24])

In [5]:
#vectorization , it' works
data = ['Pekora', 'Watame', 'Rushia', 'Okayuu']
[s.capitalize() for s  in data]

['Pekora', 'Watame', 'Rushia', 'Okayuu']

In [ ]:
#but in this case not work
data = ['Pekora','Watame',None , 'Rushia', 'Okayuu']
[s.capitalize() for s in data]
#this work just if I use the command  "data"

In [10]:
#use pandas 
names =   pd.Series(data)
names

0    Pekora
1    Watame
2      None
3    Rushia
4    Okayuu
dtype: object

In [11]:
names.str.capitalize()

0    Pekora
1    Watame
2      None
3    Rushia
4    Okayuu
dtype: object

In [14]:
#Tables of Pandas String Methods

vtubers = pd.Series(['Usada Pekora', 'Nekomata Okayuu', 'Inukami Korone', ' Murasaki Shion', 'Uruha Rushia', 'Sakura Miko'])
vtubers

0       Usada Pekora
1    Nekomata Okayuu
2     Inukami Korone
3     Murasaki Shion
4       Uruha Rushia
5        Sakura Miko
dtype: object

In [16]:
vtubers.str.lower()

0       usada pekora
1    nekomata okayuu
2     inukami korone
3     murasaki shion
4       uruha rushia
5        sakura miko
dtype: object

In [20]:
vtubers.str.cat()

'Usada PekoraNekomata OkayuuInukami Korone Murasaki ShionUruha RushiaSakura Miko'

In [21]:
vtubers.str.len()

0    12
1    15
2    14
3    15
4    12
5    11
dtype: int64

In [22]:
vtubers.str.title()

0       Usada Pekora
1    Nekomata Okayuu
2     Inukami Korone
3     Murasaki Shion
4       Uruha Rushia
5        Sakura Miko
dtype: object

In [25]:
vtubers.str.capitalize()

0       Usada pekora
1    Nekomata okayuu
2     Inukami korone
3     murasaki shion
4       Uruha rushia
5        Sakura miko
dtype: object

In [26]:
vtubers.str.startswith('U')

0     True
1    False
2    False
3    False
4     True
5    False
dtype: bool

In [27]:
vtubers.str.split()

0       [Usada, Pekora]
1    [Nekomata, Okayuu]
2     [Inukami, Korone]
3     [Murasaki, Shion]
4       [Uruha, Rushia]
5        [Sakura, Miko]
dtype: object

In [28]:
#extract the first name
vtubers.str.extract('([A-Za-z]+)')

          0
0     Usada
1  Nekomata
2   Inukami
3  Murasaki
4     Uruha
5    Sakura

In [38]:
#all names that start and end with a consonant
vtubers.str.findall(r'^[^AEIOU].*[^aiueo]$')

0                   []
1                   []
2                   []
3    [ Murasaki Shion]
4                   []
5                   []
dtype: object

In [43]:
#all names that start with consonant and end with vogal
vtubers.str.findall(r'^[^AEIOU].*[aiueo]$')

0                   []
1    [Nekomata Okayuu]
2                   []
3                   []
4                   []
5        [Sakura Miko]
dtype: object

In [47]:
#all names that start and end with vogal
vtubers.str.findall(r'^[AEIOU].*[aiueo]$')

0      [Usada Pekora]
1                  []
2    [Inukami Korone]
3                  []
4      [Uruha Rushia]
5                  []
dtype: object

In [48]:
#Vectorized item access and slicing
vtubers.str[0:3]

0    Usa
1    Nek
2    Inu
3     Mu
4    Uru
5    Sak
dtype: object

In [54]:
#extract the last name of each entry
vtubers.str.split().str.get(-1)

0    Pekora
1    Okayuu
2    Korone
3     Shion
4    Rushia
5      Miko
dtype: object

In [61]:
vtubers.str.get(-)

0    a
1    u
2    e
3    n
4    a
5    o
dtype: object

In [65]:
full_vtubers = pd.DataFrame({'name': vtubers,
'info': ['Comedian | nice person', 'Kind | nice voice', 'crazy  funny', 'funny | lazy', 'Yandere | kawaii',
'Elite | Elite']})

full_vtubers

              name                    info
0     Usada Pekora  Comedian | nice person
1  Nekomata Okayuu       Kind | nice voice
2   Inukami Korone            crazy  funny
3   Murasaki Shion            funny | lazy
4     Uruha Rushia        Yandere | kawaii
5      Sakura Miko           Elite | Elite

In [67]:
# bin where 0 true and 1 is false
full_vtubers['info'].str.get_dummies('|')

    Elite   kawaii   lazy   nice person  ...  Kind   Yandere   crazy  funny  funny
0       0        0      0             1  ...      0         0             0       0
1       0        0      0             0  ...      1         0             0       0
2       0        0      0             0  ...      0         0             1       0
3       0        0      1             0  ...      0         0             0       1
4       0        1      0             0  ...      0         1             0       0
5       1        0      0             0  ...      0         0             0       0

[6 rows x 11 columns]