<a href="https://colab.research.google.com/github/KazumaShachou/DataScience/blob/master/Pandas_DataManipulation_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Hierarchical Indexing

In [1]:
import pandas as pd
import numpy as np

In [2]:
index = [('California', 2000), ('California', 2010),
('New York', 2000), ('New York', 2010),
('Texas', 2000), ('Texas', 2010)]
populations = [33871648, 37253956,
18976457, 19378102,
20851820, 25145561]

pop = pd.Series(populations, index =index)
pop

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [3]:
pop[('California', 2010) : ('Texas'  , 2000)]

(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
dtype: int64

In [4]:
pop[[i for i in pop.index if i[1] == 2010]]   #not recomended

(California, 2010)    37253956
(New York, 2010)      19378102
(Texas, 2010)         25145561
dtype: int64

In [5]:
#better way
index = pd.MultiIndex.from_tuples(index)
index

MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )

In [6]:
pop = pop.reindex(index)
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [7]:
pop[:, 2010]

California    37253956
New York      19378102
Texas         25145561
dtype: int64

In [8]:
#The unstack() method will quickly convert a multiplyindexed Series into a conventionally indexed DataFrame
pop_df = pop.unstack()
pop_df

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [9]:
#stack is the opposite
pop_df.stack()

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [17]:
#add column
pop_df = pd.DataFrame({'total': pop, 'under18':[9267089, 9284094,4687374, 4318033,5906301, 6879014]})
pop_df

                    total  under18
California 2000  33871648  9267089
           2010  37253956  9284094
New York   2000  18976457  4687374
           2010  19378102  4318033
Texas      2000  20851820  5906301
           2010  25145561  6879014

In [19]:
 #just for 18, proportion
f_u18 = pop_df['under18'] / pop_df['total']
f_u18.unstack()

                2000      2010
California  0.273594  0.249211
New York    0.247010  0.222831
Texas       0.283251  0.273568

In [21]:
#Methods of MultiIndex Creation
df = pd.DataFrame(np.random.rand(4, 2),
                  index=[['a','a','b','b'], [1, 2, 1, 2]],
                  columns = ['data1', 'data2'])
df

        data1     data2
a 1  0.855149  0.691312
  2  0.907441  0.527932
b 1  0.866461  0.814523
  2  0.643641  0.437243

In [23]:
    data = {('California', 2000):33871648,
            ('California', 2010): 37253956,
            ('Texas', 2000): 20851820,
            ('Texas', 2010): 25145561,
            ('New York', 2000): 18976457,
            ('New York', 2010): 19378102}
pd.Series(data)

California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2000    18976457
            2010    19378102
dtype: int64

In [24]:
#Explicit MultiIndex constructors
pd.MultiIndex.from_arrays([['a', 'a', 'b','b'], [1, 2, 1, 2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [26]:
pd.MultiIndex.from_tuples([('a',1), ('a',2), ('b',1), ('b',2)])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [40]:
pd.MultiIndex.from_product([['a', 'b'], [1, 2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [41]:
pop.index.names = ['state', 'year']
pop

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [43]:
# hierarchical indices and columns
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
                                   names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Kana', 'Meiko'], ['HR', 'Temp']],
                                     names = ['subject', 'type'])

In [46]:
# mock some data
data = np.around(np.random.randn(4, 6),1)
data[:, ::2] *= 10
data +=37

In [48]:
#create the DataFrame

health_data =pd.DataFrame(data, index = index, columns=columns)
health_data

subject      Bob        Kana       Meiko
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      31.0  37.7  32.0  37.7  26.0  36.0
     2      27.0  37.1  43.0  38.2  22.0  37.5
2014 1      37.0  37.6  33.0  36.8  42.0  37.3
     2      45.0  36.0  50.0  34.8  29.0  36.2